.form {
    display: flex;
    align-items: center;
    gap: 1rem;

    & .btn {
        margin-top: .5rem;
    }

    & .input {
        width: 10%;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;

    & label {
        margin-bottom: 0 !important;
    }
}

.table td {
    color: black;
}


.table tr {
    color: black;
    font-weight: 600;
    transition: 1s ease-in;

    & td {
        transition: 1s ease-in-out;
    }
    
    &:hover {
        background-color: rgb(2, 2, 57);
        & td {
            color: white;
        }
    }
}