/* frontend/src/components/Table/Table.module.css */
.table {
    width: 100%;
    border-collapse: collapse; /* Remove o espaço entre as bordas das células */
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    border-radius: 8px;
    overflow: hidden; /* Garante que a borda do box-shadow funcione */
}

.table th, .table td {
    padding: .5rem;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Linha de separação */
}

.table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table tbody tr:last-child td {
    border-bottom: none; /* Remove a borda da última linha */
}

.enabled {
    color: blue;
}

.disabled {
    color: red
}