.container_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;

    & .btn {
        font-size: 2rem;
        width: 25rem;
        height: 6rem;
        transition: 1s ease;

        &:hover {
            background-color: rgb(2, 2, 254);
        }
    }
}
