.form_owner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    & .input {
        width: 100%;
    }

    & .select {
        width: 60%;
        margin-bottom: 0;
    }

    & .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
}

.checkbox_status {
    display: flex;
    align-items: center;
    gap: .5rem;

    & label {
        margin-bottom: 0 !important;
    }
}